/* Test Task Blackwall */

/*
Fonts;
Null CSS;
Global Styles: {

}

Pages: 

Main Page {

},

Responsive

*/

/* ---------- Fonts ---------- */

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Thin.woff2) format("woff2"), url(../fonts/Inter-Thin.woff) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-ExtraLight.woff2) format("woff2"), url(../fonts/Inter-ExtraLight.woff) format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Light.woff2) format("woff2"), url(../fonts/Inter-Light.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Medium.woff2) format("woff2"), url(../fonts/Inter-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.woff2) format("woff2"), url(../fonts/Inter-SemiBold.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter-Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-ExtraBold.woff2) format("woff2"), url(../fonts/Inter-ExtraBold.woff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Black.woff2) format("woff2"), url(../fonts/Inter-Black.woff) format("woff");
  font-weight: 900;
}

/* ---------- Null CSS ---------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body,
html {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: 'Inter';
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: 'Inter';
}

input[type="submit"] {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table {
  border-spacing: 0px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Inter';
}

/* --------------  Global Styles  -------------- */

body {
  color: #18216d;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

a:visited,
a:hover {
  color: #18216d;
}

/* ======================== Main Page ====================== */

/* ----- Header ----- */

.header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .logo {
  margin-right: 115px;
}

.header .logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__image {
  width: 32px;
  height: 32px;
}

.header .logo__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-left: 7px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-cnt .nav-body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-cnt .nav-body__link-cnt:not(:last-child) {
  margin-right: 55px;
}

.header .nav-cnt .nav-body__link {
  position: relative;
  color: #18216d;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.header .nav-cnt .nav-body__link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 0;
  opacity: 0;
  height: 1px;
  background-color: #18216d;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .nav-cnt .nav-body__link:hover:after {
  opacity: 1;
  width: 100%;
}

.header .links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .links__sign-up-link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #18216d;
}

.header .links__sign-up-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 0;
  opacity: 0;
  height: 1px;
  background-color: #18216d;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .links__sign-up-link:hover:after {
  opacity: 1;
  width: 100%;
}

.header .links__download-cnt {
  margin-left: 48px;
}

.header .links__download-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 52px;
  width: 136px;
  border-radius: 6px;
  border: 1px solid #18216d;
  background-color: #18216d;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .links__download-btn:hover {
  background-color: #ffffff;
  color: #18216d;
}

.header__icon-menu {
  display: none;
  position: absolute;
  top: 50%;
  right: 28px;
  width: 28px;
  height: 12.2px;
  margin-top: -6.1px;
  cursor: pointer;
  z-index: 20;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__icon-menu span {
  top: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #273551;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__icon-menu span:first-child {
  top: 0;
}

.header__icon-menu span:last-child {
  width: calc(20 / 28 * 100%);
  top: unset;
  bottom: 0;
  left: unset;
  right: 0;
}

.header__icon-menu.active {
  height: 28px;
  margin-top: -14px;
}

.header__icon-menu.active span {
  background-color: #ffffff;
}

.header__icon-menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
}

.header__icon-menu.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 13px;
  width: 100%;
}

/* ----- Main Container ----- */

.main-container {
  max-width: 1210px;
  padding: 0 12px;
  margin: 0 auto;
}

/* ----- Blurry Blocks ----- */

.blurry-red {
  position: absolute;
  width: 766px;
  height: 766px;
  left: -149px;
  top: -147px;
  background: #ff523d;
  opacity: 0.05;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

/* ----- Main Screen Section ----- */

.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.main-screen__content {
  position: relative;
  margin-top: 96px;
  padding-right: 75px;
}

.main-screen .content__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}

.main-screen .content__subtitle {
  margin-top: 20px;
  font-size: 17px;
  line-height: 165%;
  color: #18216d;
}

.main-screen .content__button {
  width: 180px;
  height: 66px;
  margin-top: 34px;
  border-radius: 6px;
  background-color: #00ecd0;
  color: #18216d;
  font-size: 17px;
  font-weight: 500;
}

.main-screen .content__lightblie-icon {
  position: absolute;
  right: 132px;
  bottom: 85px;
  width: 48.89px;
  height: 28.61px;
}

.main-screen__picture-cnt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 607px;
          flex: 0 1 607px;
}

.main-screen__picture {
  width: 607px;
  height: 520px;
}

/* ----- Collab Section ----- */

.collab {
  margin-top: 120px;
}

.collab__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collab .info__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 139%;
  max-width: 560px;
  padding-right: 60px;
}

.collab .info__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collab .info .stats__item {
  margin-right: 85px;
}

.collab .info .stats .item__num {
  font-weight: 700;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -1px;
}

.collab .info .stats .item__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.collab .info .stats .item__icons.hearts {
  margin-top: 10px;
}

.collab .info .stats .item__icons.stars {
  margin-top: 8px;
}

.collab .info .stats .item__icons .heart-icon {
  display: block;
  width: 16px;
  height: 14px;
}

.collab .info .stats .item__icons .heart-icon:not(:last-child) {
  margin-right: 5px;
}

.collab .info .stats .item__icons .star-icon {
  width: 16.69px;
  height: 15.9px;
}

.collab .info .stats .item__icons .star-icon:not(:last-child) {
  margin-right: 6px;
}

.collab .info .stats .item__name {
  margin-top: 12px;
  font-size: 16px;
  line-height: 175%;
}

.collab__brands {
  margin-top: 50px;
  padding: 0 50px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collab .brands .item.airbnb {
  width: 112.12px;
  height: 34.88px;
}

.collab .brands .item.hubspot {
  width: 104.65px;
  height: 29.9px;
}

.collab .brands .item.google {
  width: 104.65px;
  height: 34.88px;
}

.collab .brands .item.microsoft {
  width: 151.99px;
  height: 32.39px;
}

.collab .brands .item.walmart {
  width: 138.28px;
  height: 32.39px;
}

.collab .brands .item.fedex {
  width: 99.66px;
  height: 29.9px;
}

.collab .brands .item__picture {
  width: 100%;
  height: 100%;
}

/* ----- Special Features Section ----- */

.special-features {
  margin-top: 130px;
  padding-bottom: 200px;
}

.special-features__title-cnt {
  text-align: center;
}

.special-features__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.special-features__subtitle {
  max-width: 550px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 187%;
}

.special-features__articles {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special-features .articles__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(1 / 3 * 100%);
          flex: 0 1 calc(1 / 3 * 100%);
  padding-right: 80px;
}

.special-features .articles .item__icon-cnt {
  height: 72px;
}

.special-features .articles .item__icon {
  height: 100%;
}

.special-features .articles .item__title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 28px;
  line-height: 29px;
}

.special-features .articles .item__text {
  margin-top: 14px;
  margin-bottom: 30px;
  color: #747aa7;
  font-size: 16px;
  line-height: 162%;
}

.special-features .articles .item__link {
  position: relative;
  font-weight: 500;
  font-size: 20px;
}

.special-features .articles .item__link:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 0;
  opacity: 0;
  height: 1px;
  background-color: #18216d;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.special-features .articles .item__link:hover:after {
  opacity: 1;
  width: 100%;
}

/* ======================== Responsive ====================== */

@media (max-width: 1440px) {
  .header {
    padding: 25px;
  }

  .header .logo {
    margin-right: 65px;
  }

  .header .nav-cnt .nav-body__link-cnt:not(:last-child) {
    margin-right: 35px;
  }

  .main-screen .content__title {
    font-size: 36px;
  }

  .collab .info__title {
    font-size: 30px;
  }

  .collab .info .stats__item {
    margin-right: 50px;
  }

  .special-features {
    margin-top: 80px;
  }

  .special-features__title {
    font-size: 36px;
  }

  .special-features__subtitle {
    font-size: 14px;
    line-height: 143%;
    color: #8c90b6;
  }
}

@media (max-width: 1210px) {
  .collab {
    padding: 0 10px;
    margin-top: 60px;
  }

  .collab__brands {
    padding: 0;
  }

  .special-features__articles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }

  .special-features .articles__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-right: 20px;
    margin-bottom: 48px;
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 25px 28px 25px 16px;
  }

  .header .logo__image {
    width: 20px;
    height: 20px;
  }

  .header .logo__text {
    text-shadow: none;
    font-size: 14px;
    margin-left: 5px;
  }

  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #18216d;
    -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .header__content.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header .nav-cnt .nav-body__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .nav-cnt .nav-body__link-cnt:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header .nav-cnt .nav-body__link {
    color: #ffffff;
    font-size: 22px;
  }

  .header .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-top: 80px;
  }

  .header .links__sign-up-link {
    color: #ffffff;
    font-size: 22px;
  }

  .header .links__download-cnt {
    margin-left: 0;
    margin-top: 25px;
  }

  .header .links__download-btn {
    border: 0;
    background-color: #ffffff;
    color: #18216d;
    height: 60px;
    width: 160px;
    font-size: 22px;
  }

  .header__icon-menu {
    display: block;
  }

  .blurry-red {
    width: 394px;
    height: 394px;
    left: -111px;
    top: -20px;
    opacity: 0.09;
  }

  .main-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
  }

  .main-screen__content {
    text-align: center;
    margin-top: 0;
    padding-right: 0;
    padding: 0 30px;
  }

  .main-screen .content__title {
    font-size: 28px;
    line-height: 96%;
  }

  .main-screen .content__subtitle {
    font-size: 14px;
    line-height: 143%;
    padding: 0 10px;
  }

  .main-screen .content__button {
    font-size: 14px;
    width: 120px;
    height: 40px;
    line-height: 17px;
    padding-bottom: 2px;
    margin-top: 30px;
  }

  .main-screen .content__lightblie-icon {
    display: none;
  }

  .main-screen__picture-cnt {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 41px;
  }

  .main-screen__picture {
    width: 100%;
    height: 100%;
  }

  .collab__brands {
    margin-top: 22px;
  }

  .collab .brands .item.walmart {
    display: none;
  }

  .collab .brands .item.fedex {
    display: none;
  }

  .special-features {
    margin-top: 50px;
    padding: 0 18px 80px 18px;
  }
}

@media (max-width: 767px) {
  .collab__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .collab .info__title {
    font-size: 20px;
    line-height: 150%;
    padding-right: 0;
  }

  .collab .info__stats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 22px;
  }

  .collab .info .stats__item {
    margin-right: 0;
  }

  .collab .info .stats__item:first-child {
    margin-right: 75px;
  }

  .collab .info .stats .item__num {
    font-size: 32px;
    line-height: 1;
  }

  .collab .info .stats .item__icons.hearts {
    margin-top: 8px;
  }

  .collab .info .stats .item__icons.stars {
    margin-top: 8px;
  }

  .collab .info .stats .item__icons .heart-icon {
    width: 8.51px;
    height: 8px;
  }

  .collab .info .stats .item__icons .heart-icon:not(:last-child) {
    margin-right: 2.6px;
  }

  .collab .info .stats .item__icons .star-icon {
    width: 8.58px;
    height: 8.17px;
  }

  .collab .info .stats .item__icons .star-icon:not(:last-child) {
    margin-right: 3px;
  }

  .collab .info .stats .item__name {
    margin-top: 8px;
    font-size: 8px;
  }

  .special-features__title {
    font-size: 24px;
    line-height: 100%;
  }

  .special-features .articles__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .special-features .articles .item__icon-cnt {
    height: 48px;
  }

  .special-features .articles .item__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
  }

  .special-features .articles .item__text {
    font-size: 14px;
    line-height: 171%;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

@media (max-width: 545px) {
  .collab .brands .item.airbnb {
    width: 51.26px;
    height: 16px;
  }

  .collab .brands .item.hubspot {
    width: 48px;
    height: 13.71px;
  }

  .collab .brands .item.google {
    width: 48px;
    height: 16px;
  }

  .collab .brands .item.microsoft {
    width: 69.71px;
    height: 14.86px;
  }
}

@media (max-height: 375px) {
  .header .nav-cnt .nav-body__link-cnt:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-height: 480px) {
  .header .links {
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .header .links__download-cnt {
    margin-top: 0;
    margin-left: 25px;
  }
}